node_modules/
tickets.db
*.db
.db-key
.env
.db-key
dist/
.bin/
.direnv/
coverage*/
cov_profile/
.jscpd-report/
bunny-script.ts
src/static/admin.js
src/static/scanner.js
src/static/iframe-resizer-parent.js
src/static/iframe-resizer-child.js
src/static/embed.js
.envrc
